<main>
  <section class="profile">
    <img src="../assets/img/avatar.jpg" alt="Imagen de Avatar" class="profile__avatar">
    <h2 class="profile__name">John Wick</h2>
    <h3 class="profile__subtitle">Asesino Legendario</h3>
    <a href="" class="profile__button">Seguir</a>

    <div class="profile--estadistica">
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12K</h3>
        <span>Seguidores</span>
      </div>
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">1.7K</h3>
        <span>Siguiendo</span>
      </div>
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">40</h3>
        <span>Artículos</span>
      </div>
    </div>

    <div class="profile__bio">
      <h2>Acerca de mi</h2>
      <h3>ASesino a sueldo retirado y amante de los perros</h3>
    </div>

    <div class="profile__ubicacion">
      <i class="fa-solid fa-location-dot"></i>
      <h2>Estados Unidos</h2>
      <h3>227km Cerca</h3>
    </div>

    <div class="profile--gallery">
      <h2>Mis Fotos</h2>
      <div class="item">
        <div class="item--1">
          <img src="../assets/img/galeria1.jpg" alt="" class="gallery__foto gallery__foto--1">
        </div>
        <div class="item--2">
          <img src="../assets/img/galeria2.jpg" alt="" class="gallery__foto gallery__foto--2">
        </div>
        <div class="item--3">
          <img src="../assets/img/galeria3.jpg" alt="" class="gallery__foto gallery__foto--3">
        </div>
        <div class="item--4">
          <img src="../assets/img/galeria4.jpg" alt="" class="gallery__foto gallery__foto--4">
        </div>
      </div>
    </div>
  </section>

  <section class="news">
    <div class="news__elemento">
      <h2 class="news__elemento--titulo">
        Playstation
      </h2>
      <h3 class="news__elemento--subtitulo">
        GTA VI: Filtraciones de información que son bastante dudosas
      </h3>
      <p class="news__elemento--parrafo">
        Recientemente se filtró en Internet una importante cantidad de supuesta información sobre Grand Theft Auto VI (GTA VI) que nos ofrece una muy buena idea de lo que podemos esperar.
      </p>
    </div>
    <div class="news__elemento">
      <h2 class="news__elemento--titulo">
        Switch
      </h2>
      <h3 class="news__elemento--subtitulo">
        Secuela de The Legend of Zelda: Breath of the Wild anunciada en el E3 2019
      </h3>
      <p class="news__elemento--parrafo">
        Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild en el E3 2019 y todos estamos más que emocionados con esto.
      </p>
    </div>
    <div class="news__elemento">
      <h2 class="news__elemento--titulo">
        XBox
      </h2>
      <h3 class="news__elemento--subtitulo">
        Red Dead Online recibe actualización masiva y sale de beta
      </h3>
      <p class="news__elemento--parrafo">
        Rockstar lanzó el día de hoy la actualización más grande de Red Dead Online desde que el componente online de Red Dead Redemption 2 se lanzó en noviembre.
      </p>
    </div>
  </section>
</main>
